<header id="header" data-current-skin={{mactrl.currentSkin}} data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
<section id="main">
    <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
    <aside id="chat" data-ng-include="'template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>
    <section id="content">
        <div class="container">
            <div class="block-header">
                <h2 style="text-align:center;">Welcome to the Growth Console</h2>
            </div>
            <div class="row" data-ng-controller="homeController">
                <div class="col-sm-4">
                    <!-- EM STATS CARD -->
                    <div class="card">
                        <div class="card-header ch-alt">
                            <h2>Get EM Stats <small>ENTER MSISDN / GROUP OF MSISDN's / UPLOAD CSV</small></h2>
                        </div>
                        <div class="card-body card-padding">
                            <form name="emStatsForm" ng-submit="getEmStats()">
                                <input type="file" name="csv" ng-files="getTheFiles($files)" style="margin: 0px auto;width: 55%;">
                                <div class="form-group fg-float m-b-30">
                                    <div class="fg-line">
                                        <input type="text" ng-model="batchSize" class="form-control input-sm">
                                        <label class="fg-label">Batch Size</label>
                                    </div>
                                </div>
                                <div style="text-align:center;">
                                    OR
                                </div>
                                <br>
                                <br>
                                <div class="form-group fg-float m-b-30">
                                    <div class="fg-line">
                                        <input type="text" ng-model="msisdn" class="form-control input-sm">
                                        <label class="fg-label">MSISDN's</label>
                                    </div>
                                </div>
                                <button class="btn btn-info" id="submit" style="margin-top:20px;">Get Stats</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <!-- Change SMS Invites -->
                    <div class="card">
                        <div class="card-header ch-alt">
                            <h2>Change SMs invites </h2>
                        </div>
                        <div class="card-body card-padding">
                            <button class="btn btn-info" ng-click="showListSmsInvites('smsInvites')">View</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <!-- Refresh The Logs Card -->
                    <div class="card">
                        <div class="card-header ch-alt">
                            <h2>Refresh Logs <small>ENTER MSISDN / GROUP OF MSISDN's / UPLOAD CSV</small></h2>
                        </div>
                        <div class="card-body card-padding">
                            <form name="refreshLogForm" ng-submit="submitRefreshLogs()">
                                <input type="file" name="csv" ng-files="getTheFiles($files)" style="margin: 0px auto;width: 55%;">
                                <div class="form-group fg-float m-b-30">
                                    <div class="fg-line">
                                        <input type="text" ng-model="batchSize" class="form-control input-sm">
                                        <label class="fg-label">Batch Size</label>
                                    </div>
                                </div>
                                <div style="text-align:center;">
                                    OR
                                </div>
                                <br>
                                <br>
                                <div class="form-group fg-float m-b-30">
                                    <div class="fg-line">
                                        <input type="text" ng-model="msisdn" class="form-control input-sm">
                                        <label class="fg-label">MSISDN's</label>
                                    </div>
                                </div>
                                <label class="checkbox checkbox-inline m-r-20">
                                    <input type="checkbox" value="option1" ng-model="al">
                                    <i class="input-helper"></i> Application Logs
                                </label>
                                <label class="checkbox checkbox-inline m-r-20">
                                    <input type="checkbox" value="option3" ng-model="ll">
                                    <i class="input-helper"></i> Location Logs
                                </label>
                                <br></br>
                                <label class="checkbox checkbox-inline m-r-20">
                                    <input type="checkbox" value="option2" ng-model="cl">
                                    <i class="input-helper"></i> Call Logs
                                </label>
                                <label class="checkbox checkbox-inline m-r-20">
                                    <input type="checkbox" value="option3" ng-model="pl">
                                    <i class="input-helper"></i> Phone Logs
                                </label>
                                <button class="btn btn-info" id="submit" style="margin-top:20px;">Send Packet</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
</section>
<footer id="footer" data-ng-include="'template/footer.html'"></footer>
