<header id="header" data-current-skin={{mactrl.currentSkin}} data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl">
</header>
<section id="main">
    <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
    <aside id="chat" data-ng-include="'template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>
    <section id="content">
        <div class="container">
            <div class="card">
                <div class="card-header ch-alt">
                    <h2 style="display:inline-block;">{{logsHeader}}</h2>
                </div>
                <div class="card-body card-padding">
                    <div class="table-responsive">
                        <table class="table table-striped table-vmiddle" ng-if="logType == 'll'">
                            <tr>
                                <th> S.No </th>
                                <th> MSISDN </th>
                                <th> Latitude </th>
                                <th> Longitude </th>
                                <th> Radius </th>
                                <th> TimeStamp</th>
                            </tr>
                            <tr ng-repeat="(msisdn , logArr) in logsData">
                                <td> {{$index+1}} </td>
                                <td> {{msisdn}} </td>
                                <td> {{logArr.logs.ll.lat}} </td>
                                <td> {{logArr.logs.ll.long}} </td>
                                <td> {{logArr.logs.ll.rd}} </td>
                                <td> {{logArr.logs.ll.ts | date:'MM/dd/yyyy @ h:mma'}} </td>
                            </tr>
                        </table>
                        <table class="table table-striped table-vmiddle" ng-if="logType == 'pl'">
                            <tr ng-show="showCards == true">
                                <div class="col-md-3 col-sm-3" ng-repeat="(statName,statArr) in appData" ng-show="checkStatName(statName)">
                                    <div id="site-visits" class="dash-widget-item bgm-teal" style="min-height:290px;">
                                        <div class="dash-widget-header" style="padding-bottom:2px;">
                                            <div class="p-20">
                                            </div>
                                            <div class="dash-widget-title f-14 boldFont"><strong>{{statName}}</strong></div>
                                        </div>
                                        <div class="p-20">
                                            <div ng-repeat="(key,value) in statArr">
                                                <small class="f-14"><strong>{{key}}</strong></small>
                                                <h3 class="m-0 f-400 f-14">{{value}}</h3>
                                                <br>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </tr>
                            <tr>
                                <th> S.No </th>
                                <th> MSISDN</th>
                                <th> Timestamp</th>
                                <th> Elapsed Time(Seconds)</th>
                                <th> Auto Time Set</th>
                                <th> </th>
                            </tr>
                            <tr ng-repeat="(msisdn , logArr) in logsData">
                                <td> {{$index+1}} </td>
                                <td> {{msisdn}} </td>
                                <td> {{logArr.logs.pl.date | date:'MM/dd/yyyy @ h:mma'}} </td>
                                <td> {{logArr.logs.pl.elapsedTime}} </td>
                                <td> {{logArr.logs.pl.isAutoTimeSet}} </td>
                                <td>
                                    <button class="btn btn-primary waves-effect" ng-click="showPhoneLogs(logArr.logs.pl)">
                                        Show Log</button>
                                </td>
                            </tr>
                        </table>
                        <table class="table table-striped table-vmiddle" ng-if="logType == 'al'">
                            <tr>
                                <th> S.No </th>
                                <th> MSISDN</th>
                                <th> No of Apps </th>
                                <th> </th>
                            </tr>
                            <tr ng-repeat="(msisdn , logArr) in logsData">
                                <td> {{$index+1}} </td>
                                <td> {{msisdn}} </td>
                                <td> {{logArr.apps.length }} </td>
                                <td>
                                    <button class="btn btn-primary waves-effect" ng-click="showModal(logArr.apps)">
                                        Show Apps</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
<footer id=" footer " data-ng-include=" 'template/footer.html' " style="text-align:center;"></footer>